<footer class="bg-slate-900">
    <div class="container flex space-y-5  items-center justify-between flex-col md:flex-row mx-auto p-6 py-10 text-white">
            <div class="flex">
                <div>
                    <a href="#"><h3>Tailwind CSS</h3></a>
                </div>
            </div>

            <div class="flex justify-around space-x-32">
            <div class="flex flex-col space-y-2">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            <div class="flex flex-col space-y-2">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            </div>

            <div class="flex">
                <form action="#">
                    <input placeholder="Subscribe to Newsletter" class="flex-1 mx-2 space-x-2 py-2 px-6 rounded-full" type="text" name="" id="">
                    <button class="bg-orange-500 rounded-full px-4 py-2">Go</button>
                </form>
            </div>
    </div>
</footer>