<section>

    <div class="flex my-1 container mx-auto gap-6 flex-col-reverse md:flex-row px-6">
    
        <div class="md:w-1/2 flex flex-col justify-center py-8 text-center text-slate-900 md:text-left gap-6">
        <h1 class="font-bold text-3xl md:text-5xl">Rapidly build modern websites without ever leaving your HTML.</h1>
        <p class="font-medium">A utility-first CSS framework packed with classes like <span class="font-mono font-medium text-sky-500">flex, pt-4, text-center</span> and rotate-90 that can be composed to build any design, directly in your markup.</p>
        <a href="#" class="bg-orange-500 self-center md:self-start text-white hover:text-black  transition-all py-2 px-6 rounded-full hover:bg-orange-300">Try Now</a>
        </div>

    <div class="md:w-1/2">
        <img class="w-full" src="./assets/undraw_home_screen_re_640d.svg" alt="Hero Picture">
    </div>

    </div>

</section>
